<a href="https://colab.research.google.com/github/jfcoderx/Data-Sciense/blob/main/DF_INDEX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import pandas as pd
import numpy as np

In [63]:
df = pd.DataFrame(data = {
                            'Yil': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014],
                            'Aholi': [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
                            'Temp': [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]
                         }, 
                            index=list(range(11, 19))
                  )

df['Money'] = 30


df

     Yil  Aholi  Temp  Money
11  2021   33.9  1.54     30
12  2020   33.5  1.48     30
13  2019   32.9  1.56     30
14  2018   32.5  1.62     30
15  2017   31.9  1.65     30
16  2016   31.4  1.66     30
17  2015   30.9  1.64     30
18  2014   28.5  1.53     30

In [64]:
df.index

Int64Index([11, 12, 13, 14, 15, 16, 17, 18], dtype='int64')

In [65]:
malumot_ustunlari = df.columns
malumot_ustunlari

Index(['Yil', 'Aholi', 'Temp', 'Money'], dtype='object')

In [66]:
'Aholi' in malumot_ustunlari

True

Aslida df.index ham df.columns ham index degan obyekt qaytararkan

In [67]:
df2 = pd.DataFrame({
                    'Uzb':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
                    'Kaz':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
                    })
df2

       Uzb   Kaz
2021  33.9  18.9
2020  33.5  18.7
2019  32.9  18.5
2018  32.5  18.3
2017  31.9  18.1
2016   NaN  17.8

In [68]:
davlatlar = df2.columns
davlatlar

Index(['Uzb', 'Kaz'], dtype='object')

In [69]:
'Taj' in davlatlar

False

In [70]:
2000 in df2.index

False

Buni qulay tomoni endi siz ustunlar orqali ham malumotlarni tekshirishimiz mumkin ekan, misol davlatlarga oid millionlab malumot berilgan, shu mamlakatlar ichida Taj bormi yoqmi oson tekshira olarkanmiz<br>
yani yillar boyicha ham topish mumkin ekan, misol 2000 yil malumotlari bormi

Indexlar bilan listlarni ishlagandek ishlashimiz mumkin, farqi uni ozgartirib bolmaydi

In [71]:
df.index[2:7]

Int64Index([13, 14, 15, 16, 17], dtype='int64')

bu indeklarni yana bir foyda tomoni, ikta katta malumotlarni solishtirganimizda biz ustunlardan foydalanishimiz mumkin, indekslardan foydalanashimiz mumkin.

In [72]:
per1 = pd.DataFrame({
                    'username':{
                                 "anvar":"anvarbek223", 
                                 "olim":"olimtoy", 
                                 "maryam":"mary334455",
                                 "javohir":"javohir445"
                               },
                    'email':{
                                 "anvar":"anvar@gmail.com",
                                 "olim":"olim@mail.ru",
                                 "maryam":"mary33@gmail.com",
                                 "javohir":"javohir445@gmail.com"
                            }
                   })

per1

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com

In [73]:
per2 = pd.DataFrame({
                  'username':{
                              "olim":"olimjon21",
                              "maryam":"maryam2020"
                             },
                  'email':{
                              "olim":"olimjon21@mail.ru", 
                              "maryam":"maryam20@gmail.com"
                          }
                    })

per2

          username               email
olim     olimjon21   olimjon21@mail.ru
maryam  maryam2020  maryam20@gmail.com

In [74]:
per = per1.append(per2)
per

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com

indexlar va ustunlar takrorlanishi mumkin, misol barcha olimga oid malumotlarni ajratib ol deyishi mumkin

INDEX lar ham alohida obyekt bolgani uchun pd.index qilib alohida yaratib olish mumkin

In [75]:
ind = pd.Index(['olim', 'Jasur', 'Ikrom'])
ind

Index(['olim', 'Jasur', 'Ikrom'], dtype='object')

alohida indekslar yaratib olishimiz bizga katta malumotlarni tekshirganimizda kerak bolishi mumkin, misol uchun biz uchta ismni ajratib oldik va malumotlarimiz ichidan shu 3tasi bor yoqligini tekshiramiz

In [76]:
ind.isin(per.index)

array([ True, False, False])

Demak bundan korinadiki, Olim bor ekan, Nafisa bilan Hamida yoq ekan

In [77]:
per.index.difference(ind) # per malumotlarimiz indeksi bilan bizni yangi indeksimiz ortasidagi farqni korsat degani

Index(['anvar', 'javohir', 'maryam'], dtype='object')

demak anvar, javohir, maryam degan foydalanuvchilar bizni per malumotimizda yangi indeks ichida yoqlari ekan

In [78]:
ind.difference(per.index)

Index(['Ikrom', 'Jasur'], dtype='object')

demak Jasur, Ikrom degan foydalanuvchilar bizni yangi indeksimizda per malumotlar indeksi ichida yoqlari ekan

In [79]:
ind.union(per.index)

Index(['Ikrom', 'Jasur', 'anvar', 'javohir', 'maryam', 'maryam', 'olim',
       'olim'],
      dtype='object')

In [80]:
ind

Index(['olim', 'Jasur', 'Ikrom'], dtype='object')

In [81]:
ind.delete(-1)

Index(['olim', 'Jasur'], dtype='object')

In [82]:
ind.drop('olim')

Index(['Jasur', 'Ikrom'], dtype='object')

In [83]:
ind = ind.insert(-1, 'olim')
ind

Index(['olim', 'Jasur', 'olim', 'Ikrom'], dtype='object')

In [84]:
ind.is_unique

False

In [85]:
ind.is_monotonic

False

In [86]:
ind.unique()

Index(['olim', 'Jasur', 'Ikrom'], dtype='object')

---
---

In [87]:
df

     Yil  Aholi  Temp  Money
11  2021   33.9  1.54     30
12  2020   33.5  1.48     30
13  2019   32.9  1.56     30
14  2018   32.5  1.62     30
15  2017   31.9  1.65     30
16  2016   31.4  1.66     30
17  2015   30.9  1.64     30
18  2014   28.5  1.53     30

In [88]:
# df dagi indexlarni ozgartiramiz
df.index = [21, 20, 19, 18, 17, 16, 15, 14]
df

     Yil  Aholi  Temp  Money
21  2021   33.9  1.54     30
20  2020   33.5  1.48     30
19  2019   32.9  1.56     30
18  2018   32.5  1.62     30
17  2017   31.9  1.65     30
16  2016   31.4  1.66     30
15  2015   30.9  1.64     30
14  2014   28.5  1.53     30

In [89]:
# Bu dataframeni jadvalni tartibi biz kiritgan dastlabki malumotlar asosida boladi
# bularni ham indexisiga kora tartiblashimiz mumkin

ind = [21, 20, 19, 18, 17, 16, 15, 14]
ind.sort()
ind

[14, 15, 16, 17, 18, 19, 20, 21]

In [90]:
# qayta indeklash
df.reindex(ind)

     Yil  Aholi  Temp  Money
14  2014   28.5  1.53     30
15  2015   30.9  1.64     30
16  2016   31.4  1.66     30
17  2017   31.9  1.65     30
18  2018   32.5  1.62     30
19  2019   32.9  1.56     30
20  2020   33.5  1.48     30
21  2021   33.9  1.54     30

In [91]:
ind = [21, 20, 19, 18, 17, 16, 13, 12]
ind.sort()
ind

[12, 13, 16, 17, 18, 19, 20, 21]

In [92]:
# qayta indeklash, asl DataFrame ni ozgartirmaydi
df.reindex(ind)

       Yil  Aholi  Temp  Money
12     NaN    NaN   NaN    NaN
13     NaN    NaN   NaN    NaN
16  2016.0   31.4  1.66   30.0
17  2017.0   31.9  1.65   30.0
18  2018.0   32.5  1.62   30.0
19  2019.0   32.9  1.56   30.0
20  2020.0   33.5  1.48   30.0
21  2021.0   33.9  1.54   30.0

In [93]:
df

     Yil  Aholi  Temp  Money
21  2021   33.9  1.54     30
20  2020   33.5  1.48     30
19  2019   32.9  1.56     30
18  2018   32.5  1.62     30
17  2017   31.9  1.65     30
16  2016   31.4  1.66     30
15  2015   30.9  1.64     30
14  2014   28.5  1.53     30

In [94]:
# qayta indeklash, asl DataFrame ni ozgartirmaydi
df.reindex([21, 20, 19, 18, 17, 16, 15, 14].sort())

     Yil  Aholi  Temp  Money
21  2021   33.9  1.54     30
20  2020   33.5  1.48     30
19  2019   32.9  1.56     30
18  2018   32.5  1.62     30
17  2017   31.9  1.65     30
16  2016   31.4  1.66     30
15  2015   30.9  1.64     30
14  2014   28.5  1.53     30

In [95]:
df

     Yil  Aholi  Temp  Money
21  2021   33.9  1.54     30
20  2020   33.5  1.48     30
19  2019   32.9  1.56     30
18  2018   32.5  1.62     30
17  2017   31.9  1.65     30
16  2016   31.4  1.66     30
15  2015   30.9  1.64     30
14  2014   28.5  1.53     30

In [96]:
# ichidan malumotlarni index orqali ajratib olishimiz ham mumkin
# yoki alohida indexli DataFrame ham hosil qilishimiz mumkin
df.reindex([21, 20, 22])

       Yil  Aholi  Temp  Money
21  2021.0   33.9  1.54   30.0
20  2020.0   33.5  1.48   30.0
22     NaN    NaN   NaN    NaN

In [97]:
# NaN qiymatlar ornini bazi metodlar bilan toldirsak boladi
# masalan nearest - eng yaqinidagi qiymatlar bilan toldiradi
df.reindex(range(10, 22))

       Yil  Aholi  Temp  Money
10     NaN    NaN   NaN    NaN
11     NaN    NaN   NaN    NaN
12     NaN    NaN   NaN    NaN
13     NaN    NaN   NaN    NaN
14  2014.0   28.5  1.53   30.0
15  2015.0   30.9  1.64   30.0
16  2016.0   31.4  1.66   30.0
17  2017.0   31.9  1.65   30.0
18  2018.0   32.5  1.62   30.0
19  2019.0   32.9  1.56   30.0
20  2020.0   33.5  1.48   30.0
21  2021.0   33.9  1.54   30.0

In [98]:
#lekin bu usulimiz uncha togri usul emas
df.reindex(range(10, 22), method='nearest')

     Yil  Aholi  Temp  Money
10  2014   28.5  1.53     30
11  2014   28.5  1.53     30
12  2014   28.5  1.53     30
13  2014   28.5  1.53     30
14  2014   28.5  1.53     30
15  2015   30.9  1.64     30
16  2016   31.4  1.66     30
17  2017   31.9  1.65     30
18  2018   32.5  1.62     30
19  2019   32.9  1.56     30
20  2020   33.5  1.48     30
21  2021   33.9  1.54     30

Misol dollarning yoki biror aksiyalarning ozgarish tendensiyalari, ular hammasi malumotlari berilgan lekin malum kunlarda qayd qilishda xatolik bolgan yoki qayd qilmagan osha malumotlar oraliglarini to`ldirish uchun ishlatib yuborsak boladi

In [99]:
#oxiridagi bilan toldirib qoyadi
df.reindex(range(10, 22), method='ffill')

     Yil  Aholi  Temp  Money
10  2014   28.5  1.53     30
11  2014   28.5  1.53     30
12  2014   28.5  1.53     30
13  2014   28.5  1.53     30
14  2014   28.5  1.53     30
15  2015   30.9  1.64     30
16  2016   31.4  1.66     30
17  2017   31.9  1.65     30
18  2018   32.5  1.62     30
19  2019   32.9  1.56     30
20  2020   33.5  1.48     30
21  2021   33.9  1.54     30

In [100]:
# biror ustunni tashlab yuborsak, misol yil kerak emas, chunki indekslarimiz shu yillarga mos
df.reindex(columns=['Aholi', 'Temp', 'Money'])

    Aholi  Temp  Money
21   33.9  1.54     30
20   33.5  1.48     30
19   32.9  1.56     30
18   32.5  1.62     30
17   31.9  1.65     30
16   31.4  1.66     30
15   30.9  1.64     30
14   28.5  1.53     30

In [113]:
df.reindex(columns=['Aholi', 'Temp', 'Money', 'yyyy'])

    Aholi  Temp  Money  yyyy
21   33.9  1.54     30   NaN
20   33.5  1.48     30   NaN
19   32.9  1.56     30   NaN
18   32.5  1.62     30   NaN
17   31.9  1.65     30   NaN
16   31.4  1.66     30   NaN
15   30.9  1.64     30   NaN
14   28.5  1.53     30   NaN

In [101]:
df2

       Uzb   Kaz
2021  33.9  18.9
2020  33.5  18.7
2019  32.9  18.5
2018  32.5  18.3
2017  31.9  18.1
2016   NaN  17.8

In [102]:
# SAMPLE HEAD ga azgina oxshab ketib tasodifiy bitta qiymatni olib beradi, 
# ichiga argument qoysak oshancha tasodifiy qiymatni chiqarib beradi
# har safar yangi tasodiflarni chiqaradi
df.sample()

     Yil  Aholi  Temp  Money
21  2021   33.9  1.54     30

In [103]:
df.sample(3)

     Yil  Aholi  Temp  Money
14  2014   28.5  1.53     30
17  2017   31.9  1.65     30
21  2021   33.9  1.54     30

In [104]:
# bir vaqtning ozida ham ustunlar ham qatorlar boyicha qayta indeklamoqchi bolsak
# Shunday qilib biz istalgan ustunlarni va istalgan qatorlarni ajratib olishimiz mumkin

df.loc[[14, 18, 21], ['Yil', 'Temp']]

     Yil  Temp
14  2014  1.53
18  2018  1.62
21  2021  1.54

In [105]:
# DataFrameni malum qatorlarini ustunlarini tashlab yuborishni koramiz

df1 = df.drop(14)

# 10-indeksni qatorni tashlab yuboradi va yangi ozgaruvchiga saqlab oladi

df1

     Yil  Aholi  Temp  Money
21  2021   33.9  1.54     30
20  2020   33.5  1.48     30
19  2019   32.9  1.56     30
18  2018   32.5  1.62     30
17  2017   31.9  1.65     30
16  2016   31.4  1.66     30
15  2015   30.9  1.64     30

In [106]:
# bir nechta qatorlarni ham tashlab yuborishimiz mumkin

df.drop([14, 15, 21])

     Yil  Aholi  Temp  Money
20  2020   33.5  1.48     30
19  2019   32.9  1.56     30
18  2018   32.5  1.62     30
17  2017   31.9  1.65     30
16  2016   31.4  1.66     30

In [107]:
# ustunlarni shunday tashlab yubormoqchi bolsak

df.drop('Yil', axis=1)

    Aholi  Temp  Money
21   33.9  1.54     30
20   33.5  1.48     30
19   32.9  1.56     30
18   32.5  1.62     30
17   31.9  1.65     30
16   31.4  1.66     30
15   30.9  1.64     30
14   28.5  1.53     30

In [108]:
# bir nechta ustunlarni tashlab yubormoqchi bolsak

df.drop(['Yil', 'Money'], axis=1)

# yuqoridagi misollarda ham aslida default qiymat sifatida, axis=0 turibdi

    Aholi  Temp
21   33.9  1.54
20   33.5  1.48
19   32.9  1.56
18   32.5  1.62
17   31.9  1.65
16   31.4  1.66
15   30.9  1.64
14   28.5  1.53

In [109]:
# bir nechta ustunlarni tashlab yubormoqchi bolsak

df.drop(['Yil', 'Money'], axis='columns')

# axis ni orniga columsn deb ham yozsak osha natijani beradi

    Aholi  Temp
21   33.9  1.54
20   33.5  1.48
19   32.9  1.56
18   32.5  1.62
17   31.9  1.65
16   31.4  1.66
15   30.9  1.64
14   28.5  1.53

In [110]:
df1

     Yil  Aholi  Temp  Money
21  2021   33.9  1.54     30
20  2020   33.5  1.48     30
19  2019   32.9  1.56     30
18  2018   32.5  1.62     30
17  2017   31.9  1.65     30
16  2016   31.4  1.66     30
15  2015   30.9  1.64     30

In [111]:
# agar biz joyida shu qilganlar ozgarishlarim asl ozgaruvchiga ozgarishini xohlamoqchi bolsak
# inplace = True dan foydalanamiz

df1.drop([16, 18, 21], inplace=True)
df1

     Yil  Aholi  Temp  Money
20  2020   33.5  1.48     30
19  2019   32.9  1.56     30
17  2017   31.9  1.65     30
15  2015   30.9  1.64     30