<a href="https://colab.research.google.com/github/jfcoderx/Data-Sciense/blob/main/PD_TARTIBLASH_REYTINGLASH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SORTING and RANKING

In [110]:
import pandas as pd
import numpy as np

In [111]:
s = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
s

d    0
a    1
b    2
c    3
dtype: int64

In [112]:
# Seriesni INDEX si bo'yicha tartiblash

s.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [113]:
# Seriesni QIYMATLARI / VALUES bo'yicha tartiblash

s.sort_values()

d    0
a    1
b    2
c    3
dtype: int64

In [114]:
# DataFrame qatorlari yoki ustunlari bo'yicha tartiblash mumkin
# Githubdan kattaroq DF yuklab olamiz
# Amerikadagi sotilayotgan mashinalar jadvali

df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)
df.head()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [115]:
df.shape

(2499, 12)

In [116]:
# Qatorlari yani indekslar boyicha tartiblash
# ammo allaqachon ozi indeks boyicha tartiblangan

df.sort_index()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [117]:
df.sort_index(ascending=False)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
...,...,...,...,...,...,...,...,...,...,...,...,...
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left

In [118]:
# Ustunlar nomi bo'yicha tartiblash

df.sort_index(axis=1)

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year
0,toyota,black,10 days left,usa,159348797,274117,cruiser,6300,new jersey,clean vehicle,jtezu11f88k007763,2008
1,ford,silver,6 days left,usa,166951262,190552,se,2899,tennessee,clean vehicle,2fmdk3gc4bbb02217,2011
2,dodge,silver,2 days left,usa,167655728,39590,mpv,5350,georgia,clean vehicle,3c4pdcgg5jt346413,2018
3,ford,blue,22 hours left,usa,167753855,64146,door,25000,virginia,clean vehicle,1ftfw1et4efc23745,2014
4,chevrolet,red,22 hours left,usa,167763266,6654,1500,27700,florida,clean vehicle,3gcpcrec2jg473991,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,nissan,red,1 days left,usa,167722715,23609,versa,7800,california,clean vehicle,3n1cn7ap9kl880319,2019
2495,nissan,silver,21 hours left,usa,167762225,34553,versa,9200,florida,clean vehicle,3n1cn7ap5jl884088,2018
2496,nissan,silver,21 hours left,usa,167762226,31594,versa,9200,florida,clean vehicle,3n1cn7ap9jl884191,2018
2497,nissan,black,2 days left,usa,167762227,32557,versa,9200,florida,clean vehicle,3n1cn7ap3jl883263,2018
2498,nissan,silver,21 hours left,usa,167762228,31371,versa,9200,florida,clean vehicle,3n1cn7ap4jl884311,2018

In [119]:
# inplace=True qanday tartiblasak shundayligicha saqlab qoladi

df.sort_index(axis=1, inplace=True) 
df

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year
0,toyota,black,10 days left,usa,159348797,274117,cruiser,6300,new jersey,clean vehicle,jtezu11f88k007763,2008
1,ford,silver,6 days left,usa,166951262,190552,se,2899,tennessee,clean vehicle,2fmdk3gc4bbb02217,2011
2,dodge,silver,2 days left,usa,167655728,39590,mpv,5350,georgia,clean vehicle,3c4pdcgg5jt346413,2018
3,ford,blue,22 hours left,usa,167753855,64146,door,25000,virginia,clean vehicle,1ftfw1et4efc23745,2014
4,chevrolet,red,22 hours left,usa,167763266,6654,1500,27700,florida,clean vehicle,3gcpcrec2jg473991,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,nissan,red,1 days left,usa,167722715,23609,versa,7800,california,clean vehicle,3n1cn7ap9kl880319,2019
2495,nissan,silver,21 hours left,usa,167762225,34553,versa,9200,florida,clean vehicle,3n1cn7ap5jl884088,2018
2496,nissan,silver,21 hours left,usa,167762226,31594,versa,9200,florida,clean vehicle,3n1cn7ap9jl884191,2018
2497,nissan,black,2 days left,usa,167762227,32557,versa,9200,florida,clean vehicle,3n1cn7ap3jl883263,2018
2498,nissan,silver,21 hours left,usa,167762228,31371,versa,9200,florida,clean vehicle,3n1cn7ap4jl884311,2018

In [120]:
# teskari tartiblash ustunlar boyicha

df.sort_index(axis=1, ascending=False)

,year,vin,title_status,state,price,model,mileage,lot,country,condition,color,brand
0,2008,jtezu11f88k007763,clean vehicle,new jersey,6300,cruiser,274117,159348797,usa,10 days left,black,toyota
1,2011,2fmdk3gc4bbb02217,clean vehicle,tennessee,2899,se,190552,166951262,usa,6 days left,silver,ford
2,2018,3c4pdcgg5jt346413,clean vehicle,georgia,5350,mpv,39590,167655728,usa,2 days left,silver,dodge
3,2014,1ftfw1et4efc23745,clean vehicle,virginia,25000,door,64146,167753855,usa,22 hours left,blue,ford
4,2018,3gcpcrec2jg473991,clean vehicle,florida,27700,1500,6654,167763266,usa,22 hours left,red,chevrolet
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2019,3n1cn7ap9kl880319,clean vehicle,california,7800,versa,23609,167722715,usa,1 days left,red,nissan
2495,2018,3n1cn7ap5jl884088,clean vehicle,florida,9200,versa,34553,167762225,usa,21 hours left,silver,nissan
2496,2018,3n1cn7ap9jl884191,clean vehicle,florida,9200,versa,31594,167762226,usa,21 hours left,silver,nissan
2497,2018,3n1cn7ap3jl883263,clean vehicle,florida,9200,versa,32557,167762227,usa,2 days left,black,nissan
2498,2018,3n1cn7ap4jl884311,clean vehicle,florida,9200,versa,31371,167762228,usa,21 hours left,silver,nissan

In [121]:
# DataFrame elementlarini biror ustun yoki ustunlar bo'yicha tartiblash mumkin

# price qatorni ozi boyicha tartiblash

df.sort_values(by='price')

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year
410,chevrolet,green,2 days left,usa,167425634,274706,door,0,arizona,salvage insurance,2gcec19h8s1195266,1995
330,ford,green,19 hours left,usa,167359712,296860,door,0,california,salvage insurance,1falp62w5th144314,1996
331,ford,red,17 hours left,usa,167610991,203158,door,0,illinois,salvage insurance,1fmzk04136ga07119,2006
339,ford,black,2 days left,usa,167360232,214800,door,0,south carolina,salvage insurance,3fafp37372r151014,2002
496,ford,red,17 hours left,usa,167357804,252588,pickup,0,oklahoma,salvage insurance,1ftef15n0tlc14455,1996
...,...,...,...,...,...,...,...,...,...,...,...,...
1215,ford,black,21 hours left,usa,167718954,6500,srw,65500,indiana,clean vehicle,1ft7w2bt0kec44818,2019
277,dodge,blue,21 hours left,usa,167759490,10944,challenger,67000,ohio,clean vehicle,2c3cdzl97kh518237,2019
1336,ford,no_color,2 days left,usa,167780680,9643,drw,70000,illinois,clean vehicle,1ft8w3dt3kee48276,2019
1340,ford,no_color,2 days left,usa,167780682,10536,drw,74000,illinois,clean vehicle,1ft8w4dt6ked32656,2019
502,mercedes-benz,silver,2 days left,usa,167607883,25302,sl-class,84900,florida,clean vehicle,wddjk7ea3hf044968,2017

In [122]:
# 1-price qatorni va 2- mileage qatorni mutanosib ravishda TESKARI tartiblash

df.sort_values(by=['price','mileage'], ascending=False)

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year
502,mercedes-benz,silver,2 days left,usa,167607883,25302,sl-class,84900,florida,clean vehicle,wddjk7ea3hf044968,2017
1340,ford,no_color,2 days left,usa,167780682,10536,drw,74000,illinois,clean vehicle,1ft8w4dt6ked32656,2019
1336,ford,no_color,2 days left,usa,167780680,9643,drw,70000,illinois,clean vehicle,1ft8w3dt3kee48276,2019
277,dodge,blue,21 hours left,usa,167759490,10944,challenger,67000,ohio,clean vehicle,2c3cdzl97kh518237,2019
1215,ford,black,21 hours left,usa,167718954,6500,srw,65500,indiana,clean vehicle,1ft7w2bt0kec44818,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
196,ford,white,2 days left,usa,167656523,76858,mpv,0,texas,clean vehicle,1fbax2cv0hkb32599,2017
349,heartland,white,7 days left,usa,167266321,1,sundance,0,pennsylvania,clean vehicle,5sfgf29269e031344,2009
309,chevrolet,maroon,18 hours left,usa,167418651,0,door,0,wyoming,salvage insurance,3gnek12t74g240524,2004
322,ford,green,19 hours left,usa,167359174,0,chassis,0,california,salvage insurance,1fdee14n7rha47894,1994
545,gmc,light blue,18 hours left,usa,167358601,0,door,0,colorado,salvage insurance,1gkfk16k5pj701631,1993

In [123]:
# .RANK() metodi
# df qatorlarning reytingini aniqlash mumkin
# bunda aniq qaysi ko'rsatgich (ustun) bo'yicha aniqlash ko'rsatiladi

# .rank() method parametri yordamida reyting o'lchash usulini 
# tanlash mumkin (min, max, average, first, dense)

In [124]:
df['r_year'] = df['year'].rank()
df

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year,r_year
0,toyota,black,10 days left,usa,159348797,274117,cruiser,6300,new jersey,clean vehicle,jtezu11f88k007763,2008,70.5
1,ford,silver,6 days left,usa,166951262,190552,se,2899,tennessee,clean vehicle,2fmdk3gc4bbb02217,2011,115.0
2,dodge,silver,2 days left,usa,167655728,39590,mpv,5350,georgia,clean vehicle,3c4pdcgg5jt346413,2018,1362.0
3,ford,blue,22 hours left,usa,167753855,64146,door,25000,virginia,clean vehicle,1ftfw1et4efc23745,2014,336.5
4,chevrolet,red,22 hours left,usa,167763266,6654,1500,27700,florida,clean vehicle,3gcpcrec2jg473991,2018,1362.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,nissan,red,1 days left,usa,167722715,23609,versa,7800,california,clean vehicle,3n1cn7ap9kl880319,2019,2005.5
2495,nissan,silver,21 hours left,usa,167762225,34553,versa,9200,florida,clean vehicle,3n1cn7ap5jl884088,2018,1362.0
2496,nissan,silver,21 hours left,usa,167762226,31594,versa,9200,florida,clean vehicle,3n1cn7ap9jl884191,2018,1362.0
2497,nissan,black,2 days left,usa,167762227,32557,versa,9200,florida,clean vehicle,3n1cn7ap3jl883263,2018,1362.0
2498,nissan,silver,21 hours left,usa,167762228,31371,versa,9200,florida,clean vehicle,3n1cn7ap4jl884311,2018,1362.0

In [125]:
df.sort_values('year')

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year,r_year
32,chevrolet,red,22 hours left,usa,167763370,46226,camaro,29800,pennsylvania,clean vehicle,1q87t3n166389,1973,1.0
405,ford,white,17 hours left,usa,167611661,41577,door,25,arkansas,salvage insurance,2ftcf15y9eca14589,1984,2.0
545,gmc,light blue,18 hours left,usa,167358601,0,door,0,colorado,salvage insurance,1gkfk16k5pj701631,1993,3.0
362,ford,white,2 days left,usa,167361489,206162,pickup,25,georgia,salvage insurance,1ftdf15y2rnb12612,1994,4.5
322,ford,green,19 hours left,usa,167359174,0,chassis,0,california,salvage insurance,1fdee14n7rha47894,1994,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,lexus,silver,2 days left,usa,167605747,8186,gx,55600,florida,clean vehicle,jtjam7bx4l5251250,2020,2475.5
806,chevrolet,silver,2 days left,usa,167805497,13886,colorado,28300,indiana,clean vehicle,1gcgtcen7l1101496,2020,2475.5
2322,nissan,blue,2 days left,usa,167656212,14320,altima,15000,ohio,clean vehicle,1n4bl4cv4lc134145,2020,2475.5
2344,nissan,blue,14 hours left,usa,167614842,10875,rogue,20100,minnesota,clean vehicle,jn8at2mvxlw103235,2020,2475.5
1388,ford,gray,2 days left,usa,167742945,1117,fusion,17000,pennsylvania,clean vehicle,3fa6p0d98lr194138,2020,2475.5

In [126]:
df['r_year_avr'] = df['year'].rank(method='average')
df.sort_values('year')

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year,r_year,r_year_avr
32,chevrolet,red,22 hours left,usa,167763370,46226,camaro,29800,pennsylvania,clean vehicle,1q87t3n166389,1973,1.0,1.0
405,ford,white,17 hours left,usa,167611661,41577,door,25,arkansas,salvage insurance,2ftcf15y9eca14589,1984,2.0,2.0
545,gmc,light blue,18 hours left,usa,167358601,0,door,0,colorado,salvage insurance,1gkfk16k5pj701631,1993,3.0,3.0
362,ford,white,2 days left,usa,167361489,206162,pickup,25,georgia,salvage insurance,1ftdf15y2rnb12612,1994,4.5,4.5
322,ford,green,19 hours left,usa,167359174,0,chassis,0,california,salvage insurance,1fdee14n7rha47894,1994,4.5,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,lexus,silver,2 days left,usa,167605747,8186,gx,55600,florida,clean vehicle,jtjam7bx4l5251250,2020,2475.5,2475.5
806,chevrolet,silver,2 days left,usa,167805497,13886,colorado,28300,indiana,clean vehicle,1gcgtcen7l1101496,2020,2475.5,2475.5
2322,nissan,blue,2 days left,usa,167656212,14320,altima,15000,ohio,clean vehicle,1n4bl4cv4lc134145,2020,2475.5,2475.5
2344,nissan,blue,14 hours left,usa,167614842,10875,rogue,20100,minnesota,clean vehicle,jn8at2mvxlw103235,2020,2475.5,2475.5
1388,ford,gray,2 days left,usa,167742945,1117,fusion,17000,pennsylvania,clean vehicle,3fa6p0d98lr194138,2020,2475.5,2475.5

In [127]:
df.sort_values('year')

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year,r_year,r_year_avr
32,chevrolet,red,22 hours left,usa,167763370,46226,camaro,29800,pennsylvania,clean vehicle,1q87t3n166389,1973,1.0,1.0
405,ford,white,17 hours left,usa,167611661,41577,door,25,arkansas,salvage insurance,2ftcf15y9eca14589,1984,2.0,2.0
545,gmc,light blue,18 hours left,usa,167358601,0,door,0,colorado,salvage insurance,1gkfk16k5pj701631,1993,3.0,3.0
362,ford,white,2 days left,usa,167361489,206162,pickup,25,georgia,salvage insurance,1ftdf15y2rnb12612,1994,4.5,4.5
322,ford,green,19 hours left,usa,167359174,0,chassis,0,california,salvage insurance,1fdee14n7rha47894,1994,4.5,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,lexus,silver,2 days left,usa,167605747,8186,gx,55600,florida,clean vehicle,jtjam7bx4l5251250,2020,2475.5,2475.5
806,chevrolet,silver,2 days left,usa,167805497,13886,colorado,28300,indiana,clean vehicle,1gcgtcen7l1101496,2020,2475.5,2475.5
2322,nissan,blue,2 days left,usa,167656212,14320,altima,15000,ohio,clean vehicle,1n4bl4cv4lc134145,2020,2475.5,2475.5
2344,nissan,blue,14 hours left,usa,167614842,10875,rogue,20100,minnesota,clean vehicle,jn8at2mvxlw103235,2020,2475.5,2475.5
1388,ford,gray,2 days left,usa,167742945,1117,fusion,17000,pennsylvania,clean vehicle,3fa6p0d98lr194138,2020,2475.5,2475.5

In [128]:
# Moshinalarni mileage (yurgan kilometri) bo'yicha reyitnglaymiz

df['rank_mileage'] = df['mileage'].rank()
df

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year,r_year,r_year_avr,rank_mileage
0,toyota,black,10 days left,usa,159348797,274117,cruiser,6300,new jersey,clean vehicle,jtezu11f88k007763,2008,70.5,70.5,2486.0
1,ford,silver,6 days left,usa,166951262,190552,se,2899,tennessee,clean vehicle,2fmdk3gc4bbb02217,2011,115.0,115.0,2445.0
2,dodge,silver,2 days left,usa,167655728,39590,mpv,5350,georgia,clean vehicle,3c4pdcgg5jt346413,2018,1362.0,1362.0,1430.0
3,ford,blue,22 hours left,usa,167753855,64146,door,25000,virginia,clean vehicle,1ftfw1et4efc23745,2014,336.5,336.5,1881.0
4,chevrolet,red,22 hours left,usa,167763266,6654,1500,27700,florida,clean vehicle,3gcpcrec2jg473991,2018,1362.0,1362.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,nissan,red,1 days left,usa,167722715,23609,versa,7800,california,clean vehicle,3n1cn7ap9kl880319,2019,2005.5,2005.5,689.0
2495,nissan,silver,21 hours left,usa,167762225,34553,versa,9200,florida,clean vehicle,3n1cn7ap5jl884088,2018,1362.0,1362.0,1208.0
2496,nissan,silver,21 hours left,usa,167762226,31594,versa,9200,florida,clean vehicle,3n1cn7ap9jl884191,2018,1362.0,1362.0,1053.5
2497,nissan,black,2 days left,usa,167762227,32557,versa,9200,florida,clean vehicle,3n1cn7ap3jl883263,2018,1362.0,1362.0,1107.0
2498,nissan,silver,21 hours left,usa,167762228,31371,versa,9200,florida,clean vehicle,3n1cn7ap4jl884311,2018,1362.0,1362.0,1040.0

In [129]:
df.sort_values('mileage')

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year,r_year,r_year_avr,rank_mileage
545,gmc,light blue,18 hours left,usa,167358601,0,door,0,colorado,salvage insurance,1gkfk16k5pj701631,1993,3.0,3.0,3.5
504,peterbilt,blue,17 hours left,usa,167529787,0,truck,100,florida,salvage insurance,1xp4d49x1cd144875,2012,162.5,162.5,3.5
1619,ford,black,2 days left,usa,167651911,0,door,650,california,salvage insurance,1fadp3k21hl268441,2017,976.0,976.0,3.5
309,chevrolet,maroon,18 hours left,usa,167418651,0,door,0,wyoming,salvage insurance,3gnek12t74g240524,2004,38.5,38.5,3.5
1236,ford,no_color,2 days left,usa,167773673,0,door,4200,pennsylvania,clean vehicle,1fadp3j23dl155179,2013,241.5,241.5,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,chevrolet,red,21 hours left,usa,167781223,507985,pickup,2000,wisconsin,clean vehicle,1gcgc24u53z128586,2003,31.0,31.0,2495.0
490,peterbilt,gold,17 hours left,usa,167529786,902041,truck,475,florida,salvage insurance,1xp4d49x9cd123630,2012,162.5,162.5,2496.0
516,peterbilt,blue,17 hours left,usa,167529788,982486,truck,0,florida,salvage insurance,1xp7d49x09d784257,2009,85.0,85.0,2497.0
1827,ford,silver,21 hours left,usa,167727773,999999,door,3200,south carolina,clean vehicle,1fadp3k21dl266148,2013,241.5,241.5,2498.0
528,peterbilt,color:,17 hours left,usa,167529842,1017936,truck,1025,georgia,salvage insurance,1xp7d49x0ad793710,2010,97.0,97.0,2499.0

In [130]:
df['r_price_min'] = df['price'].rank(method='min')
df.sort_values('price')

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year,r_year,r_year_avr,rank_mileage,r_price_min
410,chevrolet,green,2 days left,usa,167425634,274706,door,0,arizona,salvage insurance,2gcec19h8s1195266,1995,6.0,6.0,2487.0,1.0
330,ford,green,19 hours left,usa,167359712,296860,door,0,california,salvage insurance,1falp62w5th144314,1996,7.5,7.5,2489.0,1.0
331,ford,red,17 hours left,usa,167610991,203158,door,0,illinois,salvage insurance,1fmzk04136ga07119,2006,51.5,51.5,2455.0,1.0
339,ford,black,2 days left,usa,167360232,214800,door,0,south carolina,salvage insurance,3fafp37372r151014,2002,25.5,25.5,2462.0,1.0
496,ford,red,17 hours left,usa,167357804,252588,pickup,0,oklahoma,salvage insurance,1ftef15n0tlc14455,1996,7.5,7.5,2480.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,ford,black,21 hours left,usa,167718954,6500,srw,65500,indiana,clean vehicle,1ft7w2bt0kec44818,2019,2005.5,2005.5,75.0,2495.0
277,dodge,blue,21 hours left,usa,167759490,10944,challenger,67000,ohio,clean vehicle,2c3cdzl97kh518237,2019,2005.5,2005.5,188.0,2496.0
1336,ford,no_color,2 days left,usa,167780680,9643,drw,70000,illinois,clean vehicle,1ft8w3dt3kee48276,2019,2005.5,2005.5,139.0,2497.0
1340,ford,no_color,2 days left,usa,167780682,10536,drw,74000,illinois,clean vehicle,1ft8w4dt6ked32656,2019,2005.5,2005.5,174.0,2498.0
502,mercedes-benz,silver,2 days left,usa,167607883,25302,sl-class,84900,florida,clean vehicle,wddjk7ea3hf044968,2017,976.0,976.0,764.0,2499.0

In [131]:
df['r_color_avr'] = df['color'].rank(method='average')
df.sort_values('color')

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year,r_year,r_year_avr,rank_mileage,r_price_min,r_color_avr
135,chevrolet,beige,20 hours left,usa,167765146,51293,1500,24005,michigan,clean vehicle,1gcukrecxhf153500,2017,976.0,976.0,1726.0,1772.0,3.0
168,buick,beige,20 hours left,usa,167765770,51393,door,20105,michigan,clean vehicle,5gakvbkd8gj196085,2016,686.0,686.0,1730.0,1498.0,3.0
460,infiniti,beige,17 hours left,usa,167256603,11394,mpv,15010,texas,clean vehicle,jn8az2ne8k9236456,2019,2005.5,2005.5,205.0,1041.0,3.0
149,ford,beige,3 days left,usa,167756194,204155,cutaway,6700,pennsylvania,clean vehicle,1fdfe4fs7eda23699,2014,336.5,336.5,2457.0,403.0,3.0
2418,nissan,beige,2 days left,usa,167755716,132655,door,3000,pennsylvania,clean vehicle,1n4al3ap4fn890836,2015,486.5,486.5,2334.0,163.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,jeep,yellow,2 days left,usa,167256942,8395,mpv,11200,michigan,clean vehicle,1c4hjxeg7kw589272,2019,2005.5,2005.5,104.0,716.0,2495.0
1362,ford,yellow,21 hours left,usa,167781633,25071,f-150,39500,california,clean vehicle,1ftew1e51kkc05297,2019,2005.5,2005.5,756.0,2350.0,2495.0
1363,ford,yellow,21 hours left,usa,167781635,33538,f-150,33100,california,clean vehicle,1ftew1c54kkc38135,2019,2005.5,2005.5,1145.0,2236.0,2495.0
536,jeep,yellow,2 days left,usa,167256957,11449,mpv,11100,michigan,clean vehicle,1c4hjxegxkw600703,2019,2005.5,2005.5,208.0,709.0,2495.0
548,jeep,yellow,2 days left,usa,167256958,10861,mpv,11030,michigan,clean vehicle,1c4hjxeg5kw608448,2019,2005.5,2005.5,182.0,705.0,2495.0

In [132]:
df.sort_values(by=['rank_mileage','r_year_avr', 'r_color_avr',  'r_price_min',], ascending=False)

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year,r_year,r_year_avr,rank_mileage,r_price_min,r_color_avr
528,peterbilt,color:,17 hours left,usa,167529842,1017936,truck,1025,georgia,salvage insurance,1xp7d49x0ad793710,2010,97.0,97.0,2499.0,94.0,718.0
1827,ford,silver,21 hours left,usa,167727773,999999,door,3200,south carolina,clean vehicle,1fadp3k21dl266148,2013,241.5,241.5,2498.0,181.0,1620.5
516,peterbilt,blue,17 hours left,usa,167529788,982486,truck,0,florida,salvage insurance,1xp7d49x09d784257,2009,85.0,85.0,2497.0,1.0,602.0
490,peterbilt,gold,17 hours left,usa,167529786,902041,truck,475,florida,salvage insurance,1xp4d49x9cd123630,2012,162.5,162.5,2496.0,76.0,733.0
531,chevrolet,red,21 hours left,usa,167781223,507985,pickup,2000,wisconsin,clean vehicle,1gcgc24u53z128586,2003,31.0,31.0,2495.0,123.0,1365.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236,ford,no_color,2 days left,usa,167773673,0,door,4200,pennsylvania,clean vehicle,1fadp3j23dl155179,2013,241.5,241.5,3.5,258.0,1210.0
504,peterbilt,blue,17 hours left,usa,167529787,0,truck,100,florida,salvage insurance,1xp4d49x1cd144875,2012,162.5,162.5,3.5,67.0,602.0
309,chevrolet,maroon,18 hours left,usa,167418651,0,door,0,wyoming,salvage insurance,3gnek12t74g240524,2004,38.5,38.5,3.5,1.0,1178.0
322,ford,green,19 hours left,usa,167359174,0,chassis,0,california,salvage insurance,1fdee14n7rha47894,1994,4.5,4.5,3.5,1.0,1149.5
545,gmc,light blue,18 hours left,usa,167358601,0,door,0,colorado,salvage insurance,1gkfk16k5pj701631,1993,3.0,3.0,3.5,1.0,1170.0